*{
   box-sizing: border-box;
 }
.head{
    background-color:#F0F0F0;
    }

.head{
    color:#A4A400 ;
    font-family: Lucida Sans Unicode;
    font-size: 22pt;
    text-align: center;

}
.ingridients{
    color:#A4A400;
    background: #F0F0F0;
    font-family:  Helvetica;
    text-decoration: underline;


}
.directions{
    color:#A4A400;
    background: #F0F0F0;
    font-family:  Arial;
    text-decoration: underline;


}
.user_comments{
    color:#A4A400;
    background: #F0F0F0;
    font-family:  Arial;
    text-decoration: underline;

}
.user{
    background-color: #f0f068;
    
}
.LINK{
    color:#A4A400;
    background: #F0F0F0;
    font-family:  Arial;
    text-decoration: underline;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.link{

color:#A4A400;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

 
  position: absolute;
  z-index: 1;
}
.footer{
    font-family: 'Courier New', Courier, monospace;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

  